body {
    margin: 0;
}

navigation {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: aquamarine;
}

navigation > * {
    display: inline-block;
    padding: 1em;
}